.body {
  &--width500 {
    width: 500px !important;
  }
}

.body-top {
  background: url("https://cdn.jsdelivr.net/gh/FeralTurtle/PayPal_Transactional_Email/dist/assets/img/gray-lines-top-card.png");
  background-size: 600px;
  &__text {
    width: auto !important;
    margin: 0px 50px;
    font-size: 18px;
    color: $dark-gray;
  }
}

.body-middle {
  &__header {
    color: $light-blue;
  }
}
