.footer {
    &__menu-item {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    &__vertical-divider {
        padding-right: 4px;
        padding-left: 4px;
        color: $black;
    }
    &__text {
        line-height: 1.2rem;
        font-size: 0.8rem;
        color: $dark-gray;
        &--bold {
            margin-bottom: 15px;
            font-size: 0.8rem;
            font-weight: 600;
            color: $dark-gray;
        }
    }
    &__additional-info {
        &--width500 {
            width: 500px !important;
        }
    }
}
