/* Small only */
@media only screen and (max-width: #{$global-breakpoint}) {
    .header-bottom {
        height: 90px;
        background: none !important;
    }
}

.header-top {
    background-color: $light-gray;
    height: 70px;
}

.header-bottom {
    height: 99px;
    background: url('https://cdn.jsdelivr.net/gh/FeralTurtle/PayPal_Transactional_Email/dist/assets/img/blue-gradient-bottom.png');
    background-size: cover;
    background-repeat: no-repeat;
    &__text {
        font-size: 28px;
        margin-top: 38px;
    }
}
