/* Small only */
@media only screen and (max-width: #{$global-breakpoint}) {
    .pricing-table {
        &__item {
            margin: 0 !important;
            &--bold {
                font-weight: 600;
            }
        }
    }
}

.pricing-table {
    &__item {
        display: block;
        margin-bottom: 3px;
        &--bold {
            display: block;
            font-weight: 600;
        }
    }
}
