.pricing-table {
    width: 500px !important;
    &__item {
        display: block;
        margin-bottom: 3px;
        &--bold {
            display: block;
            font-weight: 600;
        }
    }
}
