/* Small only */
@media only screen and (max-width: #{$global-breakpoint}) {
    .transaction-details-table {
        &__item {
            display: block;
            text-align: center;
            &--bold {
                display: block;
                text-align: center;
            }
        }
    }
}

.transaction-details-table {
    &__item {
        display: block;
        margin-bottom: 3px;
        &--bold {
            margin-bottom: 3px;
            font-weight: 600;
        }
    }
}
