<wrapper class="body-top">
    <row>
        <columns>
            <span class="text-center body-top__text">Create an account with PayPal and activate Return Shipping on Us. Limitations apply.</span>
            <spacer size="15"></spacer>
            <center>
                <button href="#" class="rounded">Activate PayPal Now</button>
            </center>
        </columns>
    </row>
</wrapper>

<row class="body-middle">
    <columns>
        <spacer size="29"></spacer>
        <span class="text-center body-middle__header">Your purchase details</span>
        <spacer size="17"></spacer>
    </columns>
    {{> transactionDetails}}
    <spacer size="34"></spacer>
    {{> itemDetails}}
    <spacer size="18"></spacer>
    {{> pricing}}
    <spacer size="15"></spacer>
</row>
