<row class="footer">
    <columns>
        <row>
            <columns>
                <center>
                    <menu>
                        <item href="#" class="footer__menu-item">Help & Contact<span class="footer__vertical-divider">|</span></item>
                        <item href="#" class="footer__menu-item">Security<span class="footer__vertical-divider">|</span></item>
                        <item href="#" class="footer__menu-item">Apps</item>
                    </menu>
                    <spacer size="4"></spacer>
                    <menu>
                        <item href="https://twitter.com/PayPal?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/PayPal_Transactional_Email/dist/assets/img/twitter-icon.png" alt="twitter icon"></item>
                        <item href="https://www.instagram.com/paypal/?hl=en"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/PayPal_Transactional_Email/dist/assets/img/instagram-icon.png" alt="instagram icon"></item>
                        <item href="https://www.facebook.com/PayPalUSA/"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/PayPal_Transactional_Email/dist/assets/img/facebook-icon.png" alt="facebook icon"></item>
                        <item href="https://www.linkedin.com/company/paypal"><img src="https://cdn.jsdelivr.net/gh/FeralTurtle/PayPal_Transactional_Email/dist/assets/img/linkedin-icon.png" alt="linkedin icon"></item>
                    </menu>
                </center>
            </columns>
        </row>
        <spacer size="25"></spacer>
        <row>
            <columns large="3" small="3">
            </columns>
            <columns large="6" small="6">
                <p class="text-left footer__text--bold">ADDITIONAL INFORMATION</p>
                <p class="text-left footer__text">After first contacting PayPal, Inc. at 1-888-221-1161, if you still have an unresolved complaint regarding the company's money transmission or currency exchange activity, please direct your complaint to: Texas Department of Banking, 2601 North Lamar Boulevard, Austin, Texas 78705, 1-877-276-5554 (toll free), <a style="text-decoration: underline;" href="#">www.dob.texas.gov</a></p>
                <spacer size="5"></spacer>
                <p class="text-left footer__text">PayPal is committed to preventing fraudulent emails. Emails from PayPal will always contain your full name. <a href="#"><span style="color: #0271ba;">Learn to identify phishing</span></a></p>
                <spacer size="5"></spacer>
                <p class="text-left footer__text">Please don't reply to this email. To get in touch with us, click <a href="#"><span class="color: #0271ba; font-weight: 600;">Help & Contact.</span></a></p>
                <spacer size="5"></spacer>
                <p class="text-left footer__text">PayPal Customer Service can be reached at 888-221-1161.</p>
                <spacer size="5"></spacer>
                <p class="text-left footer__text">Not sure why you received this email? <a href="#"><span style="color: #0271ba;">Learn more</span></a></p>
                <spacer size="5"></spacer>
                <p class="text-left footer__text">Copyright © 1999-2022 PayPal, Inc. All rights reserved. PayPal is located at 2211 N. First St., San Jose, CA 95131.</p>
                <spacer size="5"></spacer>
            </columns>
            <columns large="3" small="3">
            </columns>
        </row>
    </columns>
</row>
