<wrapper class="header-top">
    <spacer size="25"></spacer>
    <row class="collapse">
        <columns valign="middle">
            <p class="text-center">Hello, {{userInfo.firstName}} {{userInfo.lastName}}</p>
            <center>
                <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/PayPal_Transactional_Email/dist/assets/img/paypal-logo-circle-top.png" alt="paypal logo circle top">
            </center>
        </columns>
    </row>
</wrapper>
<wrapper class="header-middle">
    <row>
        <columns>
            <center>
                <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/PayPal_Transactional_Email/dist/assets/img/paypal-logo-circle-middle.png" alt="paypal logo circle middle">
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/PayPal_Transactional_Email/dist/assets/img/blue-gradient-top.png" alt="blue gradient top">
        </columns>
    </row>
</wrapper>
<wrapper class="header-bottom">
    <row>
        <columns valign="middle">
            <span class="text-center header-bottom__text">You paid $12.75 to CompanyName</span>
        </columns>
    </row>
</wrapper>
