<spacer size="25"></spacer>
<row>
    <columns>
        <wrapper class="header-top">
            <p class="text-center header-top__p">Hello, {{userInfo.firstName}} {{userInfo.lastName}}</p>
            <center>
                <img class="header-top__img" src="https://cdn.jsdelivr.net/gh/tupasj/PayPal_Transactional_Email/dist/assets/img/paypal-logo-circle-top.png" alt="paypal logo circle top">
            </center>
        </wrapper>
        <wrapper class="header-middle">
            <center>
                <img src="https://cdn.jsdelivr.net/gh/tupasj/PayPal_Transactional_Email/dist/assets/img/paypal-logo-circle-middle.png" alt="paypal logo circle middle">
            </center>
                <img class="show-for-large" src="https://cdn.jsdelivr.net/gh/tupasj/PayPal_Transactional_Email/dist/assets/img/blue-gradient-top.png" alt="blue gradient top">
        </wrapper>
        <wrapper class="header-bottom">
            <span class="text-center header-bottom__text">You paid $12.75 to CompanyName</span>
        </wrapper>
    </columns>
</row>
