<wrapper class="header-gray-bg">
    <spacer size="25"></spacer>
    <row class="collapse">
        <columns valign="middle">
            <p class="text-center">Hello, {{userInfo.firstName}} {{userInfo.lastName}}</p>
            <center>
                <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/PayPal_Transactional_Email/dist/assets/img/paypal-logo-circle-top.png" alt="paypal logo circle top">
            </center>
        </columns>
    </row>
</wrapper>
<row class="collapse">
    <columns>
        <center>
            <img src="https://cdn.jsdelivr.net/gh/FeralTurtle/PayPal_Transactional_Email/dist/assets/img/paypal-logo-circle-middle.png" alt="paypal logo circle middle">
        </center>
    </columns>
</row>
<wrapper>
    <img src="src/assets/img/blue-gradient-top.png" alt="blue gradient top">
</wrapper>
