<row class="item-details-table">
    <columns>
        <row>
            <columns large="3" small="3">
                <span class="item-details-table__item--bold">Quantity</span>
            </columns>
            <columns>
                <span class="item-details-table__item">{{itemDetails.quantity}}</span>
            </columns>
        </row>
        <row>
            <columns large="3" small="3">
                <span class="item-details-table__item--bold">Item</span>
            </columns>
            <columns>
                <span class="item-details-table__item">Order #{{itemDetails.itemNumber}}</span>
            </columns>
        </row>
        <row>
            <columns large="3" small="3">
                <span class="item-details-table__item--bold">ID Number</span>
            </columns>
            <columns>
                <span class="item-details-table__item">{{itemDetails.IDnumber}}</span>
            </columns>
        </row>
        <row>
            <columns large="3" small="3">
                <span class="item-details-table__item--bold">Price</span>
            </columns>
            <columns>
                <span class="item-details-table__item">{{itemDetails.price}}</span>
            </columns>
        </row>
    </columns>
</row>
