<row class="pricing-table">
    <row>
        <columns>
            <span class="text-right pricing-table__item">Subtotal</span>
        </columns>
        <columns large="3" small="3">
            <span class="text-right pricing-table__item">${{pricing.subtotal}}</span>
        </columns>
    </row>
    <row>
        <columns>
            <span class="text-right pricing-table__item">Tax</span>
        </columns>
        <columns large="3" small="3">
            <span class="text-right pricing-table__item">${{pricing.tax}}</span>
        </columns>
    </row>
    <row>
        <columns>
            <span class="text-right pricing-table__item">Shipping</span>
        </columns>
        <columns large="3" small="3">
            <span class="text-right pricing-table__item">${{pricing.shipping}}</span>
        </columns>
    </row>
    <row>
        <columns>
            <span class="text-right pricing-table__item">Total</span>
        </columns>
        <columns large="3" small="3">
            <span class="text-right pricing-table__item">${{pricing.total}}</span>
        </columns>
    </row>
    <spacer size="11"></spacer>
    <row>
        <columns>
            <span class="text-right pricing-table__item--bold">Total Amount you'll pay</span>
        </columns>
        <columns large="3" small="3">
            <span class="text-right pricing-table__item--bold">${{pricing.total}}</span>
        </columns>
    </row>
</row>
